# Python virtual environment
.venv/
venv/

# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo

# VSCode settings (optional)
.vscode/

# OS files
.DS_Store
Thumbs.db

# Environment config
.env
*.env


# 打包產物
build/
dist/
*.egg-info/
